body {
	background-image: url(bgsample.jpg);
	background-size: 100%;
	background-repeat: no-repeat;


}

h1{
	display:flex;
	justify-content: center;

}

.clear{
	display:flex;
	justify-content: center;
}